# Exploratory Data Analysis

In [1]:
import os

os.chdir("../")
os.getcwd()

'/home/hellsdeur/Documents/ufpa/cbcc/2022.2/simulation/magrela-sim'

In [2]:
from src.eda import Cleaner

## 3. Data Cleaning

In [3]:
cleaner = Cleaner(serial_path="data/selected.pickle")

### Trip

In [4]:
key = "trip"

In [5]:
cleaner.data[key]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Annual Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Annual Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Annual Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Annual Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Annual Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
142841,156796,10/12/2015 20:41,10/12/2015 20:47,SEA00358,377.183,E Pine St & 16th Ave,Summit Ave & E Denny Way,CH-07,CH-01,Annual Member,Male,1990.0
142842,156797,10/12/2015 20:43,10/12/2015 20:48,SEA00399,303.330,Bellevue Ave & E Pine St,Summit Ave E & E Republican St,CH-12,CH-03,Annual Member,Male,1978.0
142843,156798,10/12/2015 21:03,10/12/2015 21:06,SEA00204,165.597,Harvard Ave & E Pine St,E Harrison St & Broadway Ave E,CH-09,CH-02,Annual Member,Male,1989.0
142844,156799,10/12/2015 21:35,10/12/2015 21:41,SEA00073,388.576,Pine St & 9th Ave,3rd Ave & Broad St,SLU-16,BT-01,Short-Term Pass Holder,NaN,NaN
142845,156800,10/12/2015 22:45,10/12/2015 22:51,SEA00033,391.885,NE 42nd St & University Way NE,Eastlake Ave E & E Allison St,UD-02,EL-05,Annual Member,Male,1985.0

In [6]:
cleaner.duplicated(key=key, subset=["trip_id"])

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_name, to_station_name, from_station_id, to_station_id, usertype, gender, birthyear]
Index: []

Both timestamps columns are expressed as strings, thus a conversion to datetime is required.

In [7]:
cleaner.to_datetime(key=key, column="starttime")
cleaner.to_datetime(key=key, column="stoptime")

In [8]:
cleaner.data[key].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142846 entries, 0 to 142845
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            142846 non-null  int64
 1   starttime          142846 non-null  datetime64[ns]
 2   stoptime           142846 non-null  datetime64[ns]
 3   bikeid             142846 non-null  object
 4   tripduration       142846 non-null  float64
 5   from_station_name  142846 non-null  object
 6   to_station_name    142846 non-null  object
 7   from_station_id    142846 non-null  object
 8   to_station_id      142846 non-null  object
 9   usertype           142846 non-null  object
 10  gender             87360 non-null   object
 11  birthyear          87360 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(7)
memory usage: 13.1+ MB

### Station

In [9]:
key = "station"

In [10]:
cleaner.data[key]

,id,name,terminal,lat,long,dockcount,online
0,1,3rd Ave & Broad St,BT-01,47.618418,-122.350964,18,10/13/2014
1,2,2nd Ave & Vine St,BT-03,47.615829,-122.348564,16,10/13/2014
2,3,6th Ave & Blanchard St,BT-04,47.616094,-122.341102,16,10/13/2014
3,4,2nd Ave & Blanchard St,BT-05,47.613110,-122.344208,14,10/13/2014
4,5,2nd Ave & Pine St,CBD-13,47.610185,-122.339641,18,10/13/2014
5,6,7th Ave & Union St,CBD-03,47.610731,-122.332447,20,10/13/2014
6,7,City Hall / 4th Ave & James St,CBD-07,47.603509,-122.330409,18,10/13/2014
7,8,Pine St & 9th Ave,SLU-16,47.613715,-122.331777,20,10/13/2014
8,9,2nd Ave & Spring St,CBD-06,47.605950,-122.335768,20,10/13/2014
9,10,Summit Ave & E Denny Way,CH-01,47.618633,-122.325249,16,10/13/2014
10,11,E Harrison St & Broadway Ave E,CH-02,47.622063,-122.321251,20,10/13/2014
11,12,Summit Ave E & E Republican St,CH-03,47.623367,-122.325279,16,10/13/2014
12,13,15th Ave E & E Thomas St,CH-05,47.620712,-122.312805,16,10/13/2014
13,14,12th Ave & E Denny Way,CH-06,47.618549,-122.317017,15,10/13/2014
14,15,E Pine St & 16th Ave,CH-07,47.615330,-122.311752,18,10/13/2014
15,16,Cal Anderson Park / 11th Ave & Pine St,CH-08,47.615486,-122.318245,26,10/13/2014
16,17,Harvard Ave & E Pine St,CH-09,47.615517,-122.322083,16,10/13/2014
17,18,Bellevue Ave & E Pine St,CH-12,47.615456,-122.326729,18,10/13/2014
18,19,12th Ave & E Mercer St,CH-15,47.624142,-122.316811,16,10/13/2014
19,20,9th Ave N & Mercer St,DPD-01,47.624298,-122.339617,18,10/13/2014
20,21,Children's Hospital / Sandpoint Way NE & 40th ...,DPD-03,47.663509,-122.284119,24,10/13/2014
21,22,Fred Hutchinson Cancer Research Center / Fairv...,EL-01,47.627643,-122.332576,16,10/13/2014
22,23,E Blaine St & Fairview Ave E,EL-03,47.634831,-122.326634,18,10/13/2014
23,24,Eastlake Ave E & E Allison St,EL-05,47.649090,-122.322983,17,10/13/2014
24,25,Frye Art Museum / Terry Ave & Columbia St,FH-01,47.607281,-122.324783,15,10/13/2014
25,26,Seattle University / E Columbia St & 12th Ave,FH-04,47.609239,-122.316651,20,10/13/2014
26,27,6th Ave S & S King St,ID-04,47.598488,-122.326412,16,10/13/2014
27,28,King Street Station Plaza / 2nd Ave Extension ...,PS-05,47.598994,-122.329684,18,10/13/2014
28,29,Occidental Park / Occidental Ave S & S Washing...,PS-04,47.600757,-122.332946,18,10/13/2014
29,30,REI / Yale Ave N & John St,SLU-01,47.619859,-122.330304,20,10/13/2014
30,31,Dexter Ave N & Aloha St,SLU-02,47.627735,-122.342232,18,10/13/2014
31,32,Republican St & Westlake Ave N,SLU-04,47.623165,-122.338203,18,10/13/2014
32,33,PATH / 9th Ave & Westlake Ave,SLU-07,47.618320,-122.338913,18,10/13/2014
33,34,Westlake Ave & 6th Ave,SLU-15,47.613628,-122.337341,20,10/13/2014
34,35,Lake Union Park / Valley St & Boren Ave N,SLU-17,47.626041,-122.335831,16,10/13/2014
35,36,Dexter Ave & Denny Way,SLU-18,47.618285,-122.342205,20,10/13/2014
36,37,Key Arena / 1st Ave N & Harrison St,SLU-19,47.622277,-122.355230,16,10/13/2014
37,38,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,UD-01,47.666145,-122.301491,18,10/13/2014
38,39,NE 42nd St & University Way NE,UD-02,47.658288,-122.313334,18,10/13/2014
39,40,12th Ave & NE Campus Pkwy,UD-04,47.656395,-122.315620,16,10/13/2014
40,41,NE 47th St & 12th Ave NE,UD-07,47.663143,-122.315086,16,10/13/2014
41,42,UW McCarty Hall / Whitman Ct,UW-01,47.660268,-122.304826,16,10/13/2014
42,43,Burke Museum / E Stevens Way NE & Memorial Way NE,UW-02,47.659756,-122.310402,14,10/13/2014
43,44,15th Ave NE & NE 40th St,UW-04,47.655590,-122.311890,16,10/13/2014
44,45,UW Engineering Library / E Stevens Way NE & Je...,UW-06,47.654613,-122.304863,14,10/13/2014
45,46,UW Intramural Activities Building,UW-07,47.653713,-122.302162,14,10/13/2014
46,47,UW Magnuson Health Sciences Center Rotunda / C...,UW-10,47.650725,-122.311188,14,10/13/2014
47,48,Pier 69 / Alaskan Way & Clay St,WF-01,47.614315,-122.354093,24,10/13/2014
48,49,Seattle Aquarium / Alaskan Way S & Elliott Bay...,WF-04,47.607702,-122.341650,18,10/13/2014
49,50,1st Ave & Marion St,CBD-05,47.604058,-122.335800,20,10/13/2014
50,60,12th Ave & E Yesler Way,CD-01,47.602103,-122.316923,16,5/21/2015
51,62,Terry Ave & Stewart St,SLU-20,47.616260,-122.333815,20,6/12/2015
52,63,Union St & 4th Ave,CBD-04,47.609221,-122.335596,18,7/22/2015
53,65,Mercer St & 9th Ave N,SLU-21,47.624769,-122.339408,20,9/19/2015

In [11]:
cleaner.duplicated(key=key, subset=["id"])

Empty DataFrame
Columns: [id, name, terminal, lat, long, dockcount, online]
Index: []

The timestamp column is expressed as string, thus a conversion to datetime is required.

In [12]:
cleaner.to_datetime(key=key, column="online")

In [13]:
cleaner.data[key].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         54 non-null     int64
 1   name       54 non-null     object
 2   terminal   54 non-null     object
 3   lat        54 non-null     float64
 4   long       54 non-null     float64
 5   dockcount  54 non-null     int64
 6   online     54 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 3.1+ KB

### Status

In [14]:
key = "status"

In [15]:
cleaner.data[key]

,station_id,bikes_available,docks_available,bikes_blocked,docks_blocked,time
0,1,0,16,2,0,2014-10-15 08:29:47
1,2,4,12,0,0,2014-10-15 08:29:47
2,3,7,8,1,0,2014-10-15 08:29:47
3,4,3,11,0,0,2014-10-15 08:29:47
4,5,7,10,1,0,2014-10-15 08:29:47
...,...,...,...,...,...,...
26061833,50,7,13,0,0,2015-10-12 23:59:28
26061834,60,6,10,0,0,2015-10-12 23:59:28
26061835,62,6,14,0,0,2015-10-12 23:59:28
26061836,63,8,9,1,0,2015-10-12 23:59:28
26061837,65,4,16,0,0,2015-10-12 23:59:28

In [16]:
cleaner.duplicated(key=key, subset=["time", "station_id"])

Empty DataFrame
Columns: [station_id, bikes_available, docks_available, bikes_blocked, docks_blocked, time]
Index: []

The timestamp column is expressed as string, thus a conversion to datetime is required.

In [17]:
cleaner.to_datetime(key=key, column="time")

In [18]:
cleaner.data[key].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26061838 entries, 0 to 26061837
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   station_id       int64
 1   bikes_available  int64
 2   docks_available  int64
 3   bikes_blocked    int64
 4   docks_blocked    int64
 5   time             datetime64[ns]
dtypes: datetime64[ns](1), int64(5)
memory usage: 1.2 GB

### Weather

In [19]:
key = "weather"

In [20]:
cleaner.data[key]

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71.0,62.0,54.0,55.0,51.0,46.0,87.0,68.0,46.0,...,29.79,29.65,10.0,10.0,4.0,13.0,4.0,21,0.00,Rain
1,10/14/2014,63.0,59.0,55.0,52.0,51.0,50.0,88.0,78.0,63.0,...,29.75,29.54,10.0,9.0,3.0,10.0,5.0,17,0.11,Rain
2,10/15/2014,62.0,58.0,54.0,53.0,50.0,46.0,87.0,77.0,67.0,...,29.71,29.51,10.0,9.0,3.0,18.0,7.0,25,0.45,Rain
3,10/16/2014,71.0,61.0,52.0,49.0,46.0,42.0,83.0,61.0,36.0,...,29.95,29.81,10.0,10.0,10.0,9.0,4.0,-,0.00,Rain
4,10/17/2014,64.0,60.0,57.0,55.0,51.0,41.0,87.0,72.0,46.0,...,29.78,29.73,10.0,10.0,6.0,8.0,3.0,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,10/9/2015,70.0,62.0,55.0,59.0,55.0,50.0,94.0,77.0,63.0,...,29.94,29.90,10.0,7.0,0.0,9.0,4.0,-,0.01,"Fog , Rain"
362,10/10/2015,72.0,66.0,60.0,62.0,57.0,51.0,88.0,79.0,57.0,...,29.75,29.57,10.0,8.0,3.0,16.0,8.0,29,0.77,Rain
363,10/11/2015,66.0,60.0,54.0,51.0,49.0,46.0,84.0,69.0,50.0,...,30.12,30.00,10.0,10.0,10.0,10.0,5.0,-,0.00,NaN
364,10/12/2015,68.0,61.0,54.0,61.0,53.0,46.0,94.0,76.0,59.0,...,30.10,30.05,10.0,7.0,2.0,12.0,6.0,21,0.34,Rain
365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
cleaner.duplicated(key=key, subset=["Date"])

Empty DataFrame
Columns: [Date, Max_Temperature_F, Mean_Temperature_F, Min_TemperatureF, Max_Dew_Point_F, MeanDew_Point_F, Min_Dewpoint_F, Max_Humidity, Mean_Humidity , Min_Humidity , Max_Sea_Level_Pressure_In , Mean_Sea_Level_Pressure_In , Min_Sea_Level_Pressure_In , Max_Visibility_Miles , Mean_Visibility_Miles , Min_Visibility_Miles , Max_Wind_Speed_MPH , Mean_Wind_Speed_MPH , Max_Gust_Speed_MPH, Precipitation_In , Events]
Index: []

[0 rows x 21 columns]

The timestamp column is expressed as string, thus a conversion to datetime is required.

In [22]:
cleaner.to_datetime(key=key, column="Date")

In [23]:
cleaner.data[key].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         365 non-null    datetime64[ns]
 1   Max_Temperature_F            365 non-null    float64
 2   Mean_Temperature_F           365 non-null    float64
 3   Min_TemperatureF             365 non-null    float64
 4   Max_Dew_Point_F              365 non-null    float64
 5   MeanDew_Point_F              365 non-null    float64
 6   Min_Dewpoint_F               365 non-null    float64
 7   Max_Humidity                 365 non-null    float64
 8   Mean_Humidity                365 non-null    float64
 9   Min_Humidity                 365 non-null    float64
 10  Max_Sea_Level_Pressure_In    365 non-null    float64
 11  Mean_Sea_Level_Pressure_In   365 non-null    float64
 12  Min_Sea_Level_Pressure_In    365 non-null    float64
 13  Max_Visibility_Miles         365 non-null    float64
 14  Mean_Visibility_Miles        365 non-null    float64
 15  Min_Visibility_Miles         365 non-null    float64
 16  Max_Wind_Speed_MPH           365 non-null    float64
 17  Mean_Wind_Speed_MPH          365 non-null    float64
 18  Max_Gust_Speed_MPH           365 non-null    object
 19  Precipitation_In             365 non-null    float64
 20  Events                       161 non-null    object
dtypes: datetime64[ns](1), float64(18), object(2)
memory usage: 60.2+ KB

In [24]:
cleaner.serialize(data=cleaner.data, serial_path="data/cleaned.pickle")