# Exploratory Data Analysis

In [1]:
import os

os.chdir("../")
os.getcwd()

'/Files/Documents/ufpa/cbcc/2022.2/simulation/magrela-sim'

In [2]:
import matplotlib.pyplot as plt

from src.eda import Cleaner

## 2. Data Selection

In [3]:
cleaner = Cleaner(serial_path="data/selected.pickle")
cleaner.df

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,usertype
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
...,...,...,...,...,...,...,...,...
642042,283148,12/31/2016 23:01,12/31/2016 23:37,SEA00220,2139.413,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,Member
642043,283149,12/31/2016 23:41,1/1/2017 0:18,SEA00339,2185.038,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Short-Term Pass Holder
642044,283150,12/31/2016 23:42,1/1/2017 0:18,SEA00126,2173.435,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Short-Term Pass Holder
642045,283151,12/31/2016 23:47,1/1/2017 0:18,SEA00014,1850.632,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Short-Term Pass Holder
642046,283152,12/31/2016 23:47,1/1/2017 0:18,SEA00343,1857.877,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Short-Term Pass Holder

In [4]:
cleaner.duplicated(subset=["trip_id"])

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,usertype
142846,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Member
142847,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Member
142848,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Member
142849,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Member
142850,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Member
...,...,...,...,...,...,...,...,...
614950,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,Short-Term Pass Holder
614951,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,Short-Term Pass Holder
614952,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,Short-Term Pass Holder
614953,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,Short-Term Pass Holder
614954,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,Short-Term Pass Holder

In [5]:
cleaner.drop_duplicates(subset=["trip_id"])
cleaner.df

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,usertype
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,Annual Member
...,...,...,...,...,...,...,...,...
263152,283148,12/31/2016 23:01,12/31/2016 23:37,SEA00220,2139.413,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,Member
263153,283149,12/31/2016 23:41,1/1/2017 0:18,SEA00339,2185.038,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Short-Term Pass Holder
263154,283150,12/31/2016 23:42,1/1/2017 0:18,SEA00126,2173.435,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Short-Term Pass Holder
263155,283151,12/31/2016 23:47,1/1/2017 0:18,SEA00014,1850.632,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Short-Term Pass Holder
263156,283152,12/31/2016 23:47,1/1/2017 0:18,SEA00343,1857.877,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,Short-Term Pass Holder

In [6]:
cleaner.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263157 entries, 0 to 263156
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            263157 non-null  int64
 1   starttime          263157 non-null  object
 2   stoptime           263157 non-null  object
 3   bikeid             263157 non-null  object
 4   tripduration       263157 non-null  float64
 5   from_station_name  263157 non-null  object
 6   to_station_name    263157 non-null  object
 7   usertype           263157 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 16.1+ MB